<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>指令 - ng-repeat</title>
	<script src="../lib/angular.min.1.5.js"></script>
</head>
<body>
	
<div ng-app="myApp">
	<div ng-controller="myCon" ng-init="text='hello angular.js'">
		<ul>
			<li ng-repeat="(key,item) in items">
				<h1 ng-if="$first">
					开始循环
				</h1>
				<p>
					{{ $index }} - {{ item }}
				</p>
				<hr />
				<p>
					{{ key }} - {{ item }}
				</p>
				<h1 ng-if="$last">
					结束循环
				</h1>
			</li>
		</ul>
	</div>
</div>

<script>
	// 一个页面只允许有一个 app
	var app = angular.module('myApp', []); //创建一个 module 对象
	//绑定一个控制器
	// 注入服务
	// $scope 是一个服务 表示当前控制器
	app.controller('myCon', ['$scope',function($scope) {
		$scope.items = [
			"a","b","c","d"
		];
	}]);
</script>

</body>
</html>