*{
	border: 0;
	padding: 0;
	margin: 0;
}

ul,li,ol{
	list-style-type: none;
}

button{
	border: 1px solid #d1d1d1;
	padding: 5px 10px;
	display: inline-block;
}

.clearfix{
	zoom: 1;
	_height : 1px;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
	/* 后面两句可以不用写，避免元素显示到页面 */
	visibility: hidden;
	height: 0;
}

.class-list{
	border-left: 1px solid #D1D1D1;
}
.class-list .item{
	height: 40px;
	border-right: 1px solid #d1d1d1;
	padding: 0 20px;
	float: left;
}

.class-list .item input{
	/*display: none;*/
}

.class-list .item:after{
	content: "";
	display: inline-block;
	height: 100%;
	/* IE4+ */
	vertical-align: middle;
}


.select-shop{
	clear: both;
}

.select-shop li{
	border: 1px solid #d1d1d1;
	margin-top: 20px;
	display: flex;
}
.select-shop li >:nth-child(n+1){
	flex: 1;
	display: flex;
	justify-content: center;
	align-content: center;
	border-style: solid;
	border-width: 0 1px;
	border-color: #d1d1d1;
	padding: 10px;
}
.select-shop li:last-child  >:nth-child(n+1){
	justify-content: flex-end;
}
